.App-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.logo-image {
  width: 40px;
  height: 50px;
  margin-right: 10px;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 10px 10px;
}
